#contact {
    /* background-image: url("../assets/img/about/background.webp"); */
    background-color: #2b2b2b;
    background-size: cover;
    background-position: center;
    width: 100vw;
}

.contact__container {
    display: flex;
    justify-content: space-around;
}

.contact__container {
    padding-top: 150px;
}

.contact__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 1px solid black; */
    background-color: lightskyblue;
    margin-left: 150px;
    margin-right: 100px;
}

.contact__title i {
    font-size: 50px;
}

#contactForm {
    padding-top: 10px;
}

#contactName,
#contactEmail,
#contactSubject {
    /* margin-left: 20px; */
}

#contact label {
    font: 15px/24px "opensans-bold", sans-serif;
    margin: 12px 0;
    color: #ebeeee;
    display: inline-block;
    float: left;
    width: 26%;
    font-weight: bold;
    font-size: 18px;
}

#contact input, #contact textarea {
    padding: 18px 20px;
    color: #eee;
    background: #373233;
    margin-bottom: 42px;
    border: 0;
    outline: none;
    font-size: 15px;
    line-height: 24px;
    width: 500px;
}

#contact button.submit {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background: #0d0d0d;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 150px;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 50px;
    transition: all 0.20s ease-in-out;
}

#contact span.required {
    color: #11abb0;
}

#contact button.submit:hover {
    color: #0d0d0d;
    background: #fff;
}