#contact {
    background-color: #2b2b2b;
    background-size: cover;
    background-position: center;
    width: 100vw;
    overflow: hidden;
}

.contact__container {
    display: flex;
    justify-content: space-evenly;
}

.contact__container {
    padding-top: 120px;
}
.contact__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightskyblue;
    margin-left: 150px;
    margin-right: 100px;
}

.mobile__title{
    display: none;
    color: #fff;
    font-family: sans-serif;
}

.contact__title i {
    font-size: 50px;
}

#contactForm {
    padding-top: 10px;
}

#contact label {
    font: 15px/24px "opensans-bold", sans-serif;
    margin: 12px 0;
    color: #ebeeee;
    display: inline-block;
    /* float: left; */
    width: 50%;
    font-weight: bold;
    font-size: 18px;
}

#contact input, #contact textarea {
    padding: 18px 20px;
    color: #eee;
    background: #373233;
    margin-bottom: 22px;
    border: 0;
    outline: none;
    font-size: 15px;
    line-height: 24px;
    width: 500px;
    border-radius: 8px;
}

#contact button.submit {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background: #0d0d0d;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 150px;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 50px;
    transition: all 0.20s ease-in-out;
    border-radius: 8px;
}

#contact span.required {
    color: #11abb0;
}

#contact button.submit:hover {
    color: #0d0d0d;
    background: #fff;
}

.contactText__container {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}

.contactText__title {
    padding-right: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #fff;
        text-shadow: 3px 3px rgb(0, 0, 0, 0.4);
}
.contactText__title span{
    overflow: hidden;
}

.contactText__secendery {
    width: auto;
    padding: 8px;
    padding-bottom: 100px;
    color:#7a7a7a;
    font-weight: 500;
    text-shadow: 1.5px 1.5px rgb(0, 0, 0, 0.5);
}
@media only screen and (max-width:1030px){

    #contact input, #contact textarea {
    padding: 12px 15px;
    width: 350px;
}

.contact__title {
    width: 100px;
    height: 90px;
    margin-left: 120px;
}
.contact__container {
    padding-top: 100px;
}
.contactText__title {
    font-size: 16px;
}
.contactText__secendery {
    font-size: 12px;
    height: fit-content;
}
.contactText__container{
    margin-right: 60px;
}
}

@media only screen and (max-width:770px){

    .contact__title {
        width: 75px;
        height: 65px;
        margin-left: 60px;
        margin-right: 80px;
    }
    .contact__title i {
        font-size: 40px;
    }
    #contact input, #contact textarea {
        padding: 10px 15px;
        width: 280px;
        font-size: 12px;
    }
    .contact__container {
        padding-top: 70px;
    }
    .contactText__title {
        width: 150px;
        font-size: 14px;
    }
    .contactText__secendery {
        font-size: 10px;
        height: fit-content;
    }
    .contactText__container{

        padding-top: 20px;
    }
}

@media only screen and (max-width:430px){

    .mobile__title{
        display: block;
    }

    .contact__title{
        display: none;
    }

    .contact__container{
        flex-direction: column;
        align-items: center;
        margin-left: 27px;
        margin-right: 27px;
    }
    #contact label {
        margin:0;
        padding-top:12px;
        padding-bottom: 12px;
    }
    #contact input, #contact textarea {
        margin-bottom: 0px;
        width: 360px;
    }
    #contact label {
        font-size: 13px;
    }
    #contact button.submit {
    letter-spacing: 3px;
    font-size: 14px;
    height: 45px;
    width: 110px;
    border-radius: 3px;
    margin-bottom: 50px;
    margin-top: 20px;
}
    .contactText__container{
        margin-top: 0px;
        padding-top: 0px;
        align-self: start;
    }
}
@media only screen and (max-width:380px){
    
    .contact__container{
        margin-left: 30px;
        margin-right: 30px;
    }
    #contact input, #contact textarea {
        width: 320px;
    }
}
@media only screen and (max-width:320px){
    
    .contact__container{
        margin-left: 30px;
        margin-right: 30px;
    }
    #contact input, #contact textarea {
        width: 280px;
    }
}