#projects {
    /* background-image: url("../assets/img/about/background.webp"); */
    /* background-size: cover; */
    /* background-position: center; */
    background:#838C95;
    height: 100vh;
    /* min-width: 100vw; */
    position: relative;
    overflow: hidden;
}

.projects__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects__title {
    padding-top: 100px;
    font-size: 25px;
    font-weight: 500;
    color: silver;
    font-family: monospace;
    text-shadow: 1.5px 1.5px rgb(0, 0, 0, 0.3);
}

.projects__container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    width: 400px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.project__box {
    /* border: 1px solid black; */
    height: 140px;
    border-radius: 8px;
    width: 250px;
    align-self: center;
    /* background-color: slategray; */
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.project__box a {
}

.project__box img {
    max-width: 100%;
    height: auto;
}

.overlay {
    transition: all 0.3s ease-in-out;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background:url(../assets/img/projects/overlay-bg.png)
}

.overlay h5 {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;
    color: #fff;
    font: 14px/21px "opensans-bold", sans-serif;
    }

.overlay p {
    padding-left: 15px;
    color: #c6c7c7;
    font: 12px/18px "opensans-light", sans-serif;
}

.overlay__icon{
    text-align: center;
    color: #fff;
}

.project__box:hover .overlay{
    opacity: 1;
}

.project__button {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 8px;
    height: 30px;
    width: 90px;
    border-radius: 10%;
    background: #0d0d0d;
    cursor: pointer;
    color: #fff;
    transition: all 0.20s ease-in-out;
}

.project__button:hover a{
    color: #0d0d0d;
}
.project__button:hover{
    background: #fff;
}

.project__button a {
    text-decoration: none;
    color: #fff;
}

#projects__nextPager a{
    color:#2b2b2b;
}

#projects__nextPager a:hover{
     color: rgb(7, 165, 165);
}