@import './NavBar.css';

#resume {
    background: #fff;
    height: 100%;
    min-width: 100vw;
    position: relative;
    overflow: hidden;
}

.resume__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.school__wrapper{
    display: flex;
    flex-direction: column;

}

.education__container .school__wrapper {
    padding-top: 170px;
}

.school__wrapper{
    padding-top: 150px;
}

.education__container, .work__container, .skills__container {
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 100vw;
    box-shadow: 0 4px 2px -2px rgb(0, 0, 0,0.2);
}

.school__container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-left: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    
}

.school__title h3 {
    font:25px/30px "opensans-bold", sans-serif;
    font-weight: 600;
}

.school__secondary{
    margin-top: 7px;
    margin-bottom: 7px;
    font: 16px/24px "librebaskerville-italic", serif;
    color: #6e7881;
}

.school__third{
    font-family: 'opensans-regular', sans-serif;
    color: #838C95;
    font-size: 13px;
}


.skills__container {
    padding-bottom: 100px;

}

.education__container .resumeTitle__container{
    padding-top: 150px;
}

.resumeTitle__container {

    padding-top: 100px;
    padding-left:100px;
    padding-bottom: 100px;
    width: 20%;

}

.education__container p {
    margin-left: -42px;
}

.resume__title p {
    padding: 5px;
    border-bottom: 0.2rem solid lightblue;
    font-size: 20px;
    color: rgb(122, 122, 122);
    font-weight: 700;
    width: fit-content;
}


.skills__iconsContainer{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    margin-left: 130px;
}


.skills__icons{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.skill__icon {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill__iconContainer i{
    font-size: 70px;
}

.skill__iconContainer img{
    width: 80px;
}

.skill__title{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#resume__nextPager  i{
    color: #2b2b2b;
    transition: 0.2s ease-in-out all;
}

#resume__nextPager:hover i {
 color: rgb(7, 165, 165);

}

@media only screen and (max-width: 768px){
    
    .education__container .resumeTitle__container{
        padding-top: 50px;
    }

    .resumeTitle__container{
        padding-top:50px
    }
    .school__title h3{
        font-size: 20px;
    }

    .school__container{
        margin-left: -20px;
    }

    .skills__iconsContainer{
        margin-left: 30px;
    }
}

@media only screen and (max-width: 430px){
    
    .resumeTitle__container{
        padding-top: 80px;
        padding-left: 70px;
    }
    .education__container .resumeTitle__container{
        padding-top:80px
    }

    .resume__title p {
        font-size: 12px;
    }
    .school__title h3 {
        font-size: 13px;
    }
    .school__secondary{
        font-size: 10px;
        margin-top: 0px;
        width: 100vw;
    }

    .school__third{
        font-size: 10px;
        width: 80%;
    }

    .school__container{
        margin-left: -40px;
    }

    .skills__iconsContainer{
        margin-left: -70px;
    }
    .skill__iconContainer i{
    font-size: 40px;
    }

    .skill__iconContainer img{
    width: 50px;
    }
    
    .skill__title{
        font-size: 14px;
    }
    

}
@media only screen and (max-width: 380px){

    .resume__title p {
        font-size: 11px;
    }
    .education__container p {
    margin-left: -28px;
    }
    .school__title h3 {
        font-size: 12px;
    }
    .resumeTitle__container{
        padding-top: 80px;
        padding-left: 50px;
    }
    .skill__title{
        font-size: 12px;
    }

    .skills__iconsContainer{
        margin-left: -28px;
    }
    .skill__icon {
        width: 70px;
    }
}

@media only screen and (max-width: 330px){

    .skills__iconsContainer{
        margin-left: -44px;
    }
}